<form  (ngSubmit)="onSubmit()">
  
  <div class="ui-g">
      <p-toast></p-toast>
      <div class="ui-g-12">
        <h1>Games Ranking</h1>
      </div>

      <div class="ui-g-12 ui-fluid form-group">
        <label for="nome">Nome do jogador</label>
        <input pInputText type="text" required="true" class="form-control" name="nome" [(ngModel)]="jogador.nome" id="nome" >
      </div>

      <div class="ui-g-6 ui-fluid form-group">
        <label for="quantidadeVitoria">Quantidade de vitórias</label>
        <input pInputText type="text" pKeyFilter="pint" class="form-control" name="quantidadeVitoria" [(ngModel)]="jogador.quantidadeVitoria" id="quantidadeVitoria">
      </div>

      <div class="ui-g-6 ui-fluid form-group">
        <label for="quantidadePartida">Quantidade de partidas</label>
        <input pInputText type="text" pKeyFilter="pint" class="form-control" name="quantidadePartida" [(ngModel)]="jogador.quantidadePartida" id="quantidadePartida">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Adicionar" *ngIf="!jogador.id"></button>
        <button pButton type="submit" label="Atualizar" *ngIf="jogador.id" ></button>
      </div>
    </div>
</form>  

<div class="ui-g" style="margin-top: 20px">
    <div class="ui-g-12">
        <p-table [value]="jogadorService.jogadores" [paginator]="true" [rows]="5" [responsive]="true" 
              *ngIf="jogadorService.jogadores.length">
            <ng-template pTemplate="header">
                <tr>
                    <th>Jogadores</th>
                    <th>Vitórias</th>
                    <th>Partidas</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-jogador>
                <tr>
                    <td>{{jogador.nome}}</td>
                    <td style="text-align: center">{{jogador.quantidadeVitoria}}</td>
                    <td style="text-align: center">{{jogador.quantidadePartida}}</td>
                    <td style="width: 90px; text-align: center">
                      <Button pButton icon="fa fa-pencil" style="margin-right: 5px" 
                         pTooltip="Editar" tooltipPosition="top"
                         (click)="edit(jogador)"></Button>
                      <button pButton icon="fa fa-trash"
                              pTooltip="Excluir" tooltipPosition="top"
                              (click)="excluir(jogador)" *ngIf="jogador.id"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </div>